<!DOCTYPE html>

<html>
<head>
  <title>My IPAddress - <%=title%></title>
  <%- include('./links')-%>
</head>
<body>
  <%- include('./nav')-%>
  <div class="container" style="margin-bottom:40px;">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
          <h3>Made by limiteddata</h3>
          <h3>Check my <a href="https://github.com/limiteddata">Github</a></h3>
          <h3>Email <strong>limiteddata09@gmail.com<strong></h3>
      </div>
    </div>
  </div>
  <%- include('./footer')-%>
</body>
</html>
