<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MY IPADDRESS</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">MY IPADDRESS</a></li>
        <li><a href="/exact_hour">EXACT HOUR</a></li>
        <li><a href="/traceroute">TRACEROUTE</a></li>
        <li><a href="/about">ABOUT</a></li>
      </ul>
    </div>
  </div>
</div>
